/* Created by Moudi on 2017/1/6.*/
html {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  width: 100%;
  height: 100%;
  background: url('../img/1.jpg') no-repeat;
  background-size: cover;
  //filter: ;
}
nav {
  position: relative;
  z-index: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  transition: 1s;
  //background-color: #6a96ff;
  a {
    width: 100%;
    height: 50px;
    background: url('../img/common/nav-bg1.png') no-repeat;
  }
  a:nth-of-type(2) {
    background: url('../img/common/nav-bg2.png') no-repeat;
  }
  a:nth-of-type(3) {
    background: url('../img/common/nav-bg3.png') no-repeat;
  }
  a:nth-of-type(4) {
    background: url('../img/common/nav-bg4.png') no-repeat;
  }
  a:nth-of-type(5) {
    background: url('../img/common/nav-bg5.png') no-repeat;
  }
}
section {
  flex: 4;
  background-color: transparent;
  transition: 1s;
}
@keyframes nav-active-out {
  0%{transform: scale(1);}
  20%{transform: scale(1.3);}
  100%{transform: scale(1) translateX(-400px);}
}
@keyframes nav-out {
  0%{transform: scale(1);}
  20%{transform: scale(1.1);}
  100%{transform: translateX(-400px);}
}

#bg-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}


//130 * 220
#card-container {
  position: relative;
  width: 210px;
  height: 330px;
  margin: 80px auto;
  transform-style: preserve-3d;
  perspective: 6000px;
}
.cards {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  transform-style: preserve-3d;
  //transition: 2s;
  backface-visibility: hidden;
  .backface {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: url("../img/backface.jpg");
    transform: rotateY(180deg) translateZ(1px);
  }
  em {
    display: none;
  }
  img {
    position: relative;
    z-index: 10;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .info {
    position: relative;
    z-index: 10;
    padding: 10px;
  }
  h4 {
    font: 22px/1.8 "microsoft yahei";
    margin-bottom: 3px;
  }
  p {
    text-indent: 10px;
    font-size: 14px;
  }
}
.cards.front {
  transform: rotateY(0deg);
}
.cards.back {
  transform: rotateY(180deg);
}
.cards.r {
  box-shadow: 0 0px 2px 1px blue, inset 0 0 2px 1px gray;
}
.cards.sr {
  box-shadow: 0 0px 3px 1px #e94cff, inset 0 0 2px 1px gray;
}
.cards.ssr {
  box-shadow: 0 0px 4px 3px #fec802, inset 0 0 2px 1px gray;
}
.property {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 10;
  .attack {
    position: absolute;
    bottom: 10px;
    left: 14px;
    z-index: 10;
    display: block;
    width: 80px;
    height: 30px;
    text-indent: 30px;
    line-height: 30px;
    background: url("../img/icon/attack.svg") no-repeat;
  }
  .defense {
    position: absolute;
    bottom: 10px;
    right: 40px;
    z-index: 10;
    display: block;
    width: 80px;
    height: 30px;
    text-indent: 30px;
    line-height: 30px;
    background: url("../img/icon/defense.svg") no-repeat;
  }
}
.cards.show {
  animation: cards-bs-r-bling 4s infinite;
}
.cards.neww em {
  position: absolute;
  top: -8px;
  left: -8px;
  display: block;
  width: 78px;
  height: 100px;
  background: url(../img/icon/new-aside.svg) no-repeat;
  background-size: contain;
  z-index: 99;
}
.cards.dead em {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 78px;
  height: 78px;
  background: url(../img/icon/emoticon-dead.svg) no-repeat;
  background-size: contain;
  z-index: 99;
}
@keyframes cards-box-shadow-bling {
  0%{box-shadow: 0 0px 22px 2px blue, inset 0 0 2px 1px gray;}
  50%{box-shadow: 0 0px 2px 1px blue, inset 0 0 2px 1px gray;}
  100%{box-shadow: 0 0px 22px 2px blue, inset 0 0 2px 1px gray;}
}