/* Created by Moudi on 2017/1/6.*/
html {
  width: 100%;
  height: 100%;
  min-width: 950px; }

body {
  display: flex;
  width: 100%;
  height: 100%;
  background: url("../img/common/main-bg.jpg") no-repeat;
  background-size: cover;
  overflow: hidden; }

nav {
  position: relative;
  left: 0;
  z-index: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  transition: .7s;
  background-color: #5f6d7e;
  overflow: hidden; }

nav.hidden {
  opacity: 0; }

#return-main-nav {
  display: none;
  position: fixed;
  top: 4%;
  left: 2%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  border: 1px solid #000;
  text-align: center;
  background-color: #fff; }

.main-nav {
  white-space: nowrap; }
  .main-nav i {
    width: 16px;
    height: 16px;
    margin-right: 20px; }
  .main-nav a {
    padding: 0 40px;
    display: block;
    line-height: 55px;
    color: #fff; }
  .main-nav a:hover {
    background-color: #5b6878; }
  .main-nav li.active a {
    background-color: #495461; }

section {
  flex: 4;
  background-color: transparent;
  transition: 1s; }

#bg-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e5ffce;
  z-index: 9999; }
  .loader .loading {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
  .loader p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-22px, 70px); }

.loading span {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #1bc8f0;
  animation: loading 1.04s linear infinite;
  opacity: .2; }

@keyframes loading {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.2; } }
.loading span:nth-child(1) {
  left: 0;
  top: 50%;
  margin-top: -5px;
  animation-delay: 0s; }

.loading span:nth-child(2) {
  left: 10px;
  top: 20px;
  transform: rotate(45deg);
  animation-delay: .13s; }

.loading span:nth-child(3) {
  left: 50%;
  top: 10px;
  margin-left: -15px;
  transform: rotate(90deg);
  animation-delay: .26s; }

.loading span:nth-child(4) {
  top: 20px;
  right: 10px;
  transform: rotate(135deg);
  animation-delay: .39s; }

.loading span:nth-child(5) {
  right: 0;
  top: 50%;
  margin-top: -5px;
  transform: rotate(180deg);
  animation-delay: .52s; }

.loading span:nth-child(6) {
  right: 10px;
  bottom: 20px;
  transform: rotate(225deg);
  animation-delay: .65s; }

.loading span:nth-child(7) {
  bottom: 10px;
  left: 50%;
  margin-left: -15px;
  transform: rotate(270deg);
  animation-delay: .78s; }

.loading span:nth-child(8) {
  bottom: 20px;
  left: 10px;
  transform: rotate(315deg);
  animation-delay: .91s; }

.fade-in-animation {
  animation: fadeIn 0.7s; }

.fade-out-animation {
  animation: fadeOut .7s; }

.add-animation {
  animation: addCard 1s; }

.next-animation {
  animation: nextCard 1s; }

.prev-animation {
  animation: prevCard 1s; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes addCard {
  from {
    opacity: .1;
    transform: translate(150px, 150px) scale(1.5); }
  to {
    opacity: 1; } }
@keyframes nextCard {
  from {
    transform: none; }
  50% {
    transform: translate(150px) rotate(6deg); }
  to {
    transform: none;
    z-index: -1; } }
@keyframes prevCard {
  from {
    transform: none; }
  50% {
    transform: translate(-150px) rotate(-6deg); }
  to {
    transform: none;
    z-index: 10; } }
#card-container {
  position: relative;
  width: 130px;
  height: 220px;
  margin: 80px auto 0; }

#section1 #card-container {
  width: 130px;
  height: 220px; }

#game-table-1 {
  display: none; }

#gt {
  position: relative;
  width: 50%;
  height: 80%;
  margin: 80px auto 0; }
  #gt li {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 90px;
    height: 120px;
    transition: .7s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 8px;
    overflow: hidden;
    z-index: 99; }
    #gt li .front {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: .7s;
      background: url("../img/game/1.png") no-repeat center;
      background-size: 105% 105%;
      transform: rotateY(180deg);
      z-index: 2; }
    #gt li .back {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: .7s;
      background: url("../img/game/back.png") no-repeat;
      background-size: 100% 100%;
      z-index: 4; }
    #gt li.flipped .front {
      transform: rotateY(0deg);
      z-index: 4; }
    #gt li.flipped .back {
      transform: rotateY(180deg);
      z-index: 2; }

.cards {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #9a9a9a;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  transform-style: preserve-3d;
  backface-visibility: hidden; }
  .cards .backface {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: url("../img/backface.jpg");
    transform: rotateY(180deg) translateZ(1px); }
  .cards em {
    display: none; }
  .cards img {
    position: relative;
    z-index: 10;
    width: 100%;
    border-radius: 10px 10px 0 0; }
  .cards .info {
    position: relative;
    z-index: 10;
    padding: 10px; }
  .cards h4 {
    font: 22px/1.8 "microsoft yahei";
    margin-bottom: 3px; }
  .cards p {
    text-indent: 10px;
    font-size: 14px; }

.cards.front {
  transform: rotateY(0deg); }

.cards.back {
  transform: rotateY(180deg) translateZ(1px); }

.cards.r {
  box-shadow: 0 0px 2px 1px blue, inset 0 0 2px 1px gray; }

.cards.sr {
  box-shadow: 0 0px 3px 1px #e94cff, inset 0 0 2px 1px gray; }

.cards.ssr {
  box-shadow: 0 0px 4px 3px #fec802, inset 0 0 2px 1px gray; }

.property {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 10; }
  .property .attack {
    position: absolute;
    bottom: 10px;
    left: 14px;
    z-index: 10;
    display: block;
    width: 80px;
    height: 30px;
    text-indent: 30px;
    line-height: 30px;
    background: url("../img/icon/attack.svg") no-repeat; }
  .property .defense {
    position: absolute;
    bottom: 10px;
    right: 40px;
    z-index: 10;
    display: block;
    width: 80px;
    height: 30px;
    text-indent: 30px;
    line-height: 30px;
    background: url("../img/icon/defense.svg") no-repeat; }

.cards.show {
  animation: cards-bs-r-bling 4s infinite; }

.cards.neww em {
  position: absolute;
  top: -8px;
  left: -8px;
  display: block;
  width: 78px;
  height: 100px;
  background: url(../img/icon/new-aside.svg) no-repeat;
  background-size: contain;
  z-index: 99; }

.cards.dead em {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 78px;
  height: 78px;
  background: url(../img/icon/emoticon-dead.svg) no-repeat;
  background-size: contain;
  z-index: 99; }

@keyframes cards-box-shadow-bling {
  0% {
    box-shadow: 0 0px 22px 2px blue, inset 0 0 2px 1px gray; }
  50% {
    box-shadow: 0 0px 2px 1px blue, inset 0 0 2px 1px gray; }
  100% {
    box-shadow: 0 0px 22px 2px blue, inset 0 0 2px 1px gray; } }

/*# sourceMappingURL=main.css.map */
