/* Created by Moudi on 2017/1/6.*/
html {
  width: 100%;
  height: 100%;
  min-width: 960px;
  font-family: Roboto,Arial,sans-serif; }

body {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #b4b4b4;
  background-size: cover;
  overflow: hidden; }

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2; }
  .background img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 5s transform, 1s opacity; }
  .background img.brightness {
    animation: brightness 1.5s linear forwards; }
  .background canvas {
    opacity: 0;
    transition: 5s transform, 1s opacity; }
  .background canvas.showIn {
    opacity: 1; }
  .background img.showIn {
    transform: scale(1.06);
    opacity: 1; }

nav {
  position: relative;
  left: 0;
  z-index: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  transition: .7s;
  background-color: rgba(95, 109, 126, 0.77);
  overflow: hidden; }

nav.hidden {
  opacity: 0; }

#return-main-nav {
  display: none;
  position: fixed;
  top: 4%;
  left: 2%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  border: 1px solid #000;
  text-align: center;
  background-color: #fff;
  z-index: 999; }

.main-nav {
  white-space: nowrap; }
  .main-nav i {
    width: 16px;
    height: 16px;
    margin-right: 20px; }
  .main-nav a {
    padding: 0 40px;
    display: block;
    line-height: 55px;
    color: #fff; }
  .main-nav a:hover {
    background-color: #5b6878; }
  .main-nav li.active a {
    background-color: #495461; }

section {
  display: none;
  flex: 4;
  background-color: transparent;
  transition: 1s; }

#section0 {
  position: relative; }

.title-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -145px;
  margin-top: -65px;
  width: 290px;
  height: 130px;
  line-height: 130px;
  box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  background-color: rgba(215, 141, 241, 0.7); }
  .title-wrapper h1 {
    color: #fff;
    text-align: center; }

.dialog-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  opacity: .75;
  z-index: 1001; }

.dialog {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 400px;
  background-color: #fafafa;
  box-shadow: rgba(255, 255, 255, 0.9) 0px 1px 0px inset, rgba(0, 0, 0, 0.03) 0px -1px 0px inset, rgba(0, 0, 0, 0.15) 0 15px 10px, rgba(0, 0, 0, 0.3) 0 8px 36px;
  z-index: 1002; }
  .dialog .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 146px;
    background: url("../img/common/dialog.png") no-repeat;
    background-size: cover; }
  .dialog .title {
    position: relative;
    font-size: 20px;
    text-align: center;
    margin: 60px auto 0;
    padding: 0 20px 60px;
    border-bottom: 1px solid #c5ccd0;
    color: #2e2e2e;
    font-weight: 700;
    z-index: 1002; }
  .dialog .desc {
    font-size: 16px;
    text-align: center;
    margin: 50px auto 20px;
    padding: 0 20px 0; }
  .dialog .btns {
    text-align: center;
    margin: 50px auto 20px; }
    .dialog .btns input {
      height: 29px;
      min-width: 72px;
      line-height: 27px;
      margin: 0 16px 0 0;
      padding: 0 8px;
      font-size: 11px;
      border-radius: 2px;
      background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
      border: 1px solid #2f5bb7;
      color: #fff; }
    .dialog .btns input:hover {
      background-image: -webkit-linear-gradient(top, #4453fe, #46a4e8); }

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e5ffce;
  z-index: 9999; }
  .loader .loading {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
  .loader p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-22px, 70px); }

.loading span {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #1bc8f0;
  animation: loading 1.04s linear infinite;
  opacity: .2; }

@keyframes loading {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.2; } }
.loading span:nth-child(1) {
  left: 0;
  top: 50%;
  margin-top: -5px;
  animation-delay: 0s; }

.loading span:nth-child(2) {
  left: 10px;
  top: 20px;
  transform: rotate(45deg);
  animation-delay: .13s; }

.loading span:nth-child(3) {
  left: 50%;
  top: 10px;
  margin-left: -15px;
  transform: rotate(90deg);
  animation-delay: .26s; }

.loading span:nth-child(4) {
  top: 20px;
  right: 10px;
  transform: rotate(135deg);
  animation-delay: .39s; }

.loading span:nth-child(5) {
  right: 0;
  top: 50%;
  margin-top: -5px;
  transform: rotate(180deg);
  animation-delay: .52s; }

.loading span:nth-child(6) {
  right: 10px;
  bottom: 20px;
  transform: rotate(225deg);
  animation-delay: .65s; }

.loading span:nth-child(7) {
  bottom: 10px;
  left: 50%;
  margin-left: -15px;
  transform: rotate(270deg);
  animation-delay: .78s; }

.loading span:nth-child(8) {
  bottom: 20px;
  left: 10px;
  transform: rotate(315deg);
  animation-delay: .91s; }

.fade-in-animation {
  animation: fadeIn 0.7s; }

.fade-out-animation {
  animation: fadeOut .7s; }

.add-animation {
  animation: addCard 1s; }

.next-animation {
  animation: nextCard 1s; }

.prev-animation {
  animation: prevCard 1s; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes addCard {
  from {
    opacity: .1;
    transform: translate(150px, 150px) scale(1.5); }
  to {
    opacity: 1; } }
@keyframes nextCard {
  from {
    transform: none; }
  50% {
    transform: translate(150px) rotate(6deg); }
  to {
    transform: none;
    z-index: -1; } }
@keyframes prevCard {
  from {
    transform: none; }
  50% {
    transform: translate(-150px) rotate(-6deg);
    z-index: 0; }
  to {
    transform: none;
    z-index: 10; } }
#card-container {
  position: relative;
  width: 130px;
  height: 220px;
  margin: 80px auto 0; }

#section1 #card-container {
  width: 130px;
  height: 220px; }

#s2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -110px;
  margin-top: -163px;
  width: 220px;
  height: 326px;
  transform-style: preserve-3d;
  perspective: 600px; }
  #s2:hover .wrapper {
    box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4), 0 16px 40px rgba(14, 21, 47, 0.4); }
  #s2 .wrapper {
    display: none;
    position: relative;
    width: 100%;
    height: 100%; }
  #s2 .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 10px; }

#gt {
  position: relative;
  width: 50%;
  height: 80%;
  margin: 80px auto 0; }
  #gt li {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 90px;
    height: 120px;
    transition: .7s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 8px;
    overflow: hidden;
    z-index: 99; }
    #gt li .front {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: .7s;
      background: url("../img/game/1.png") no-repeat center;
      background-size: 105% 105%;
      transform: rotateY(180deg);
      z-index: 2; }
    #gt li .back {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: .7s;
      background: url("../img/game/back.png") no-repeat;
      background-size: 100% 100%;
      z-index: 4; }
    #gt li.flipped {
      box-shadow: 0 0px 4px 3px #c5ccd0; }
    #gt li.flipped.right {
      box-shadow: 0 0px 4px 3px #55d071; }
    #gt li.flipped .front {
      transform: rotateY(0deg);
      z-index: 4; }
    #gt li.flipped .back {
      transform: rotateY(180deg);
      z-index: 2; }

.cards {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #9a9a9a;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  transform-style: preserve-3d;
  backface-visibility: hidden; }
  .cards .backface {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: url("../img/backface.jpg");
    transform: rotateY(180deg) translateZ(1px); }
  .cards em {
    display: none; }
  .cards img {
    position: relative;
    z-index: 10;
    width: 100%;
    border-radius: 10px 10px 0 0; }
  .cards .info {
    position: relative;
    z-index: 10;
    padding: 10px; }
  .cards h4 {
    font: 22px/1.8 "microsoft yahei";
    margin-bottom: 3px; }
  .cards p {
    text-indent: 10px;
    font-size: 14px; }

.cards.front {
  transform: rotateY(0deg); }

.cards.back {
  transform: rotateY(180deg) translateZ(1px); }

.cards.r {
  box-shadow: 0 0px 2px 1px blue, inset 0 0 2px 1px gray; }

.cards.sr {
  box-shadow: 0 0px 3px 1px #e94cff, inset 0 0 2px 1px gray; }

.cards.ssr {
  box-shadow: 0 0px 4px 3px #fec802, inset 0 0 2px 1px gray; }

.property {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 10; }
  .property .attack {
    position: absolute;
    bottom: 10px;
    left: 14px;
    z-index: 10;
    display: block;
    width: 80px;
    height: 30px;
    text-indent: 30px;
    line-height: 30px;
    background: url("../img/icon/attack.svg") no-repeat; }
  .property .defense {
    position: absolute;
    bottom: 10px;
    right: 40px;
    z-index: 10;
    display: block;
    width: 80px;
    height: 30px;
    text-indent: 30px;
    line-height: 30px;
    background: url("../img/icon/defense.svg") no-repeat; }

.cards.show {
  animation: cards-bs-r-bling 4s infinite; }

.cards.neww em {
  position: absolute;
  top: -8px;
  left: -8px;
  display: block;
  width: 78px;
  height: 100px;
  background: url(../img/icon/new-aside.svg) no-repeat;
  background-size: contain;
  z-index: 99; }

.cards.dead em {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 78px;
  height: 78px;
  background: url(../img/icon/emoticon-dead.svg) no-repeat;
  background-size: contain;
  z-index: 99; }

@keyframes cards-box-shadow-bling {
  0% {
    box-shadow: 0 0px 22px 2px blue, inset 0 0 2px 1px gray; }
  50% {
    box-shadow: 0 0px 2px 1px blue, inset 0 0 2px 1px gray; }
  100% {
    box-shadow: 0 0px 22px 2px blue, inset 0 0 2px 1px gray; } }
.gacha-bg,
.gacha-ft {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.bling {
  display: none; }
  .bling .bling-1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/gacha/pic_gacha_lighting_01.png") no-repeat center center;
    background-size: contain; }
  .bling .bling-2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/gacha/pic_gacha_lighting_02.png") no-repeat center center;
    background-size: contain; }

.effect {
  display: none; }
  .effect .effect-1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/gacha/effect_1.png") no-repeat center center;
    background-size: contain; }
  .effect .effect-2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/gacha/effect_2.png") no-repeat center center;
    background-size: contain; }

.touch {
  position: absolute;
  left: 10%;
  top: 10%;
  right: 10%;
  bottom: 10%; }
  .touch .book {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    background: url("../img/gacha/scout_book.png") no-repeat center center;
    background-size: contain;
    opacity: 0;
    z-index: 11; }
  .touch img:nth-of-type(1) {
    position: absolute;
    top: -3%;
    left: 12%;
    opacity: 0; }
  .touch img:nth-of-type(2) {
    position: absolute;
    top: 6%;
    left: 23%;
    opacity: 0; }

#section2.ready .effect {
  display: block; }
#section2.ready .effect-1 {
  animation: scale-out .8s .5s linear;
  opacity: 0; }
#section2.ready .effect-2 {
  animation: scale-out .6s .5s linear;
  opacity: 0; }
#section2.ready .book {
  animation: zoom-in .5s linear forwards; }
#section2.ready .touch img {
  animation: fade-in .6s 1s linear forwards; }

#section2.ready-1 .book {
  animation: float 3s linear infinite; }
#section2.ready-1 .touch img:nth-of-type(2) {
  animation: move-rigth-down 1s ease-in-out infinite; }

#section2.gacha .book {
  animation: zoom-out .4s linear forwards; }
#section2.gacha .touch img,
#section2.gacha .touch img:nth-of-type(2) {
  animation: fade-out .3s .2s linear forwards; }
#section2.gacha .bling {
  display: block; }
#section2.gacha .bling-1 {
  opacity: 0;
  animation: blink-1 2s 2s linear infinite; }
#section2.gacha .bling-2 {
  opacity: 0;
  animation: blink-2 2s 2.5s linear infinite; }

#s2 .wrapper.show-card {
  opacity: 0;
  animation: show-card .8s 1s linear forwards; }

@keyframes show-card {
  from {
    -webkit-filter: brightness(0);
    filter: brightness(0);
    transform: scale(10);
    opacity: 0; }
  80% {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
    transform: scale(1); }
  90% {
    transform: scale(1.2); }
  to {
    -webkit-filter: brightness(1);
    filter: brightness(1);
    opacity: 1; } }
@keyframes brightness {
  from {
    -webkit-filter: brightness(1);
    filter: brightness(1); }
  65% {
    -webkit-filter: brightness(100);
    filter: brightness(100); }
  to {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5); } }
@keyframes blink-1 {
  from {
    opacity: .5; }
  40% {
    opacity: 1;
    transform: rotate(-144deg) scale(1.8); }
  80% {
    opacity: .1; }
  to {
    transform: rotate(-360deg) scale(1); } }
@keyframes blink-2 {
  from {
    opacity: .5; }
  40% {
    opacity: 1;
    transform: rotate(144deg) scale(1.9); }
  80% {
    opacity: .4; }
  to {
    transform: rotate(360deg) scale(1); } }
@keyframes move-rigth-down {
  from {
    opacity: 1;
    transform: translate(0, 0); }
  70% {
    opacity: 1;
    transform: translate(10px, 10px); }
  to {
    opacity: 1;
    transform: translate(0, 0); } }
@keyframes float {
  from {
    opacity: 1;
    transform: translateY(0); }
  70% {
    opacity: 1;
    transform: translateY(-10px); }
  to {
    opacity: 1;
    transform: translateY(0); } }
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.1); }
  80% {
    transform: scale(1.2); }
  to {
    opacity: 1; } }
@keyframes fade-out {
  from {
    opacity: 1; }
  80% {
    transform: scale(1.2); }
  to {
    opacity: 0;
    transform: scale(0.1); } }
@keyframes scale-out {
  from {
    opacity: 1;
    transform: scale(0.1); }
  to {
    opacity: 0;
    transform: scale(10); } }
@keyframes zoom-in {
  from {
    opacity: 0;
    transform: scale(4); }
  to {
    opacity: 1; } }
@keyframes zoom-out {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: scale(4); } }

/*# sourceMappingURL=main.css.map */
